@import "./variables.scss";

.app {
  display: flex;
  align-items: stretch;

  &__left {
    height: 100vh;
    min-height: 800px;
    flex-grow: 2;
    flex-shrink: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }

  &__right {
    height: 100vh;
    min-height: 800px;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    box-shadow: 5px 0 15px 0 $color-black;
  }
}

.graph-controls {
  label {
    user-select: none;
  }
}

.graph-visualisation {
  flex: 1;
}

.node-queue-visualization {
  $size: 60px;
  $border-size: 2px;
  $border-color: $color-black;

  display: flex;
  align-items: center;
  border-top: $border-size solid $border-color;
  border-bottom: $border-size solid $border-color;

  &__title {
    font-family: KaTeX_Main;
    margin: 0 1em;
  }

  &__elements {
    height: $size;
    flex: 1;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
  }

  &__elements-front {
    display: flex;
    flex: 1;
  }

  &__element {
    width: $size;
    height: $size;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: $border-size solid $border-color;
    &:first-child {
      border-left: $border-size solid $border-color;
    }
  }

  &__label {
    width: 0.75 * $size;
    height: 0.75 * $size;
    line-height: 0.75 * $size;
    border-radius: 100%;
    text-align: center;
    font-family: KaTeX_Math;
    border: $border-size solid $border-color;
    &--type-source {
      border-style: double;
    }
    &--type-sink {
      border-style: dashed;
    }
  }
}

.controls {
  &__button {
    border-radius: 0;
    background-color: #eeeeee;
    border: none;
    padding: 5px 10px;
    &:not(:last-child) {
      margin-right: 10px;
    }

    &:hover:not(:disabled) {
      background-color: #dddddd;
    }
  }
}

.pseudocode {
  position: relative;

  .ps-line::before {
    content: "|";
    color: transparent;
    user-select: none;
    position: absolute;
    width: 100%;
    display: inline-block;
    left: 0;
    background: var(--block-color);
    z-index: -1;
    line-height: 1.3;
    transition: 400ms ease background-color;
  }

  @for $i from $highlighted-lines-count through 0 {
    $highlight-color: rgba(
      $color-highlight,
      (1 - ($i) / ($highlighted-lines-count))
    );
    .ps-line--highlighted-#{$i}::before {
      background: linear-gradient(var(--block-color), var(--block-color)),
        linear-gradient($highlight-color, $highlight-color);
      background-blend-mode: overlay;
    }
  }

  .ps-line::after {
    content: attr(data-block-label);
    user-select: none;
    font-family: KaTeX_Main;
    position: absolute;
    display: inline-block;
    right: 0;
    z-index: 1;
    line-height: 1.3;
  }
}
